<form action="/register" method="POST">
    <label for="name">Username:</label>
    <input type="text" name="username"><br>

    <label for="name">Email</label>
    <input type="text" name="email"><br>

    <label for="name">Password:</label>
    <input type="password" name="password"><br>

    <label for="name">Repeat Password:</label>
    <input type="password" name="repeatPassword"><br>


    <input type="submit" value="Register">
</form>