<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/responsive.css">
    <script src="scripts/jquery-3.2.1.min.js"></script>


</head>
<body>

<header>
    <nav>
        <ul class="nav-bar">
            <li class="left"><img class="avatar" src="bull-logo.png" alt="bull" style="margin: 0 10px 20px 0 ; width: 60px;"></li>
            <li class="left"><a class="active" href="index.html">Home</a></li>
            <li class="left">
                <a href="" class="dropdown">Categories</a>
                <div class="dropdown-content">
                    <a href="#">Abstract</a>
                    <a href="nature.html">Nature</a>
                    <a href="#">Sport</a>
                    <a href="#">Cities</a>
                    <a href="#">Vintage</a>
                    <a href="#">Cars</a>
                    <a href="#">Beauty</a>
                    <a href="#">Adverts</a>
                </div>
            </li>

            <li class="right"><img class="avatar" src="http://static2.businessinsider.com/image/5899ffcf6e09a897008b5c04-1200/.jpg"></li>
            <li class="right"><a href="profile.html">Rizzle</a></li>
            <!--<li class="right"><a href="">Register</a></li>-->
            <li class="right"><a href="login.html">Login</a></li>
            <li class="right"><a href="admin.html">Admin</a></li>
            <li class="right upload shiny"><a href="upload.html">Upload</a></li>
        </ul>


        <div id="nav-icon4">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="mobile-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Admin</a></li>
            <li><a href="#">Rizzle</a></li>
            <li class="shiny"><a href="#">Upload</a></li>
        </ul>

    </nav>
</header>

<div class="tile-group">
    <div class="tile-group-header">
        <h1 class="section-header pull-left">Recently Uploaded Images</h1>
    </div>

    <div class="tile-group-inner">
        <a class="tile" href="details.html"
           style="background-image: url('http://www.supichka.com/files/images/712/liutenica_4.jpg');">

            <div class="tile--content-wrap">
                <div class="tile--content"><p class="tile--date">Nov 24, 2017</p>
                    <h2 class="">Great nature</h2>
                </div>
                <button class="btn tile--btn btn--default shiny">Details</button>
            </div>

            <div class="tile-bg"></div>
        </a>

        <a class="tile" href="#"
           style="background-image: url('https://storage.googleapis.com/twg-content/images/mobile-video-advertising-making-unskippable-a.width-2000.jpg');">

            <div class="tile--content-wrap">
                <div class="tile--content"><p class="tile--date">Nov 24, 2017</p>
                    <h2 class="">Dew Juice Coconut</h2>
                </div>
                <button class="btn tile--btn btn--default shiny">Details</button>
            </div>

            <div class="tile-bg"></div>
        </a>

        <a class="tile" href="details.html"
           style="background-image: url('https://i2-prod.mirror.co.uk/incoming/article7458113.ece/ALTERNATES/s615b/Manchester-United-v-Arsenal.jpg');">

            <div class="tile--content-wrap">
                <div class="tile--content"><p class="tile--date">Nov 24, 2017</p>
                    <h2 class="">Man Utd 3-2 Arsenal</h2>
                </div>
                <button class="btn tile--btn btn--default shiny">Details</button>
            </div>

            <div class="tile-bg"></div>
        </a>

        <a class="tile" href="#"
           style="background-image: url('https://asphaltgold.de/media/catalog/product/cache/1/image/930x669/0f396e8a55728e79b48334e699243c07/n/i/nike-sb-zoom-stefan-janoski-golden-beige-black333824-215-1.jpg');">

            <div class="tile--content-wrap">
                <div class="tile--content"><p class="tile--date">Nov 24, 2017</p>
                    <h2 class="">Nike SB</h2>
                </div>
                <button class="btn tile--btn btn--default shiny">Details</button>
            </div>

            <div class="tile-bg"></div>
        </a>

        <a class="tile" href="#"
           style="background-image: url('https://media.timeout.com/images/103641970/630/472/image.jpg');">

            <div class="tile--content-wrap">
                <div class="tile--content"><p class="tile--date">Nov 24, 2017</p>
                    <h2 class="">A Book</h2>
                </div>
                <button class="btn tile--btn btn--default shiny">Details</button>
            </div>

            <div class="tile-bg"></div>
        </a>

        <a class="tile" href="#"
           style="background-image: url('https://solomid-resources.s3.amazonaws.com/content/image/582009fc-207b-443c-a142-cfd1bfc0aec9');">

            <div class="tile--content-wrap">
                <div class="tile--content"><p class="tile--date">Nov 24, 2017</p>
                    <h2 class="">Welcome Zven and Mithy</h2>
                </div>
                <button class="btn tile--btn btn--default shiny">Details</button>
            </div>

            <div class="tile-bg"></div>
        </a>
    </div>

    <div class="pagination">
        <p><span>&lt;</span><span>1</span><span>2</span><span>3</span><span>4</span><span>&gt;</span></p>
    </div>
</div>

<hr class="hor-line">

<div class="tile-group">
    <div class="tile-group-header">
        <h1 class="section-header pull-left">Most Viewed Images</h1>
    </div>

    <div class="tile-group-inner">
        <a class="tile" href="details.html"
           style="background-image: url('https://solomid-resources.s3.amazonaws.com/content/image/582009fc-207b-443c-a142-cfd1bfc0aec9');">

            <div class="tile--content-wrap">
                <div class="tile--content"><p class="tile--date">Nov 24, 2017</p>
                    <h2 class="">Welcome Zven and Mithy</h2>
                </div>
                <button class="btn tile--btn btn--default shiny">Details</button>
            </div>

            <div class="tile-bg"></div>
        </a>

        <a class="tile" href="details.html"
           style="background-image: url('https://i.imgur.com/p7FgplN.jpg');">

            <div class="tile--content-wrap">
                <div class="tile--content"><p class="tile--date">Nov 24, 2017</p>
                    <h2 class="">Great nature</h2>
                </div>
                <button class="btn tile--btn btn--default shiny">Details</button>
            </div>

            <div class="tile-bg"></div>
        </a>


        <a class="tile" href="#"
           style="background-image: url('https://solomid-resources.s3.amazonaws.com/content/image/582009fc-207b-443c-a142-cfd1bfc0aec9');">

            <div class="tile--content-wrap">
                <div class="tile--content"><p class="tile--date">Nov 24, 2017</p>
                    <h2 class="">Welcome Zven and Mithy</h2>
                </div>
                <button class="btn tile--btn btn--default shiny">Details</button>
            </div>

            <div class="tile-bg"></div>
        </a>

        <a class="tile" href="#"
           style="background-image: url('https://solomid-resources.s3.amazonaws.com/content/image/582009fc-207b-443c-a142-cfd1bfc0aec9');">

            <div class="tile--content-wrap">
                <div class="tile--content"><p class="tile--date">Nov 24, 2017</p>
                    <h2 class="">Welcome Zven and Mithy</h2>
                </div>
                <button class="btn tile--btn btn--default shiny">Details</button>
            </div>

            <div class="tile-bg"></div>
        </a>

        <a class="tile" href="#"
           style="background-image: url('https://solomid-resources.s3.amazonaws.com/content/image/582009fc-207b-443c-a142-cfd1bfc0aec9');">

            <div class="tile--content-wrap">
                <div class="tile--content"><p class="tile--date">Nov 24, 2017</p>
                    <h2 class="">Welcome Zven and Mithy</h2>
                </div>
                <button class="btn tile--btn btn--default shiny">Details</button>
            </div>

            <div class="tile-bg"></div>
        </a>

        <a class="tile" href="#"
           style="background-image: url('https://solomid-resources.s3.amazonaws.com/content/image/582009fc-207b-443c-a142-cfd1bfc0aec9');">

            <div class="tile--content-wrap">
                <div class="tile--content"><p class="tile--date">Nov 24, 2017</p>
                    <h2 class="">Welcome Zven and Mithy</h2>
                </div>
                <button class="btn tile--btn btn--default shiny">Details</button>
            </div>

            <div class="tile-bg"></div>
        </a>

    </div>

    <div class="pagination">
        <p><span>&lt;</span><span>1</span><span>2</span><span>3</span><span>4</span><span>&gt;</span></p>
    </div>
</div>

<footer>
    <div class="footer">
        <p><span></span>Cvetomir Shkondachki @SoftUni 2017</p>
    </div>
</footer>


<script src="scripts/script.js"></script>
</body>

</html>