@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
html {
  box-sizing: border-box;
  color: white; }

*, :after, :before {
  box-sizing: inherit; }

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  font-family: Lato, Helvetica Neue, Arial, sans-serif;
  font-weight: 300;
  background-color: #171c25; }

a {
  display: inline-block; }

p {
  letter-spacing: .25px;
  line-height: 24px; }

img {
  max-width: 100%; }

blockquote {
  font-style: italic;
  margin: 1em;
  margin-left: 3em;
  display: block;
  color: #eee !important;
  letter-spacing: .25px;
  line-height: 24px;
  font-size: 1rem;
  font-weight: 400; }

h1, h2, h3 {
  color: #fff;
  margin: 0; }

* {
  font-weight: 300; }

a:hover, button:hover {
  cursor: pointer; }

/*END OF RESET*/
.hor-line {
  max-width: 1164px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(101, 101, 101, 0.75), rgba(0, 0, 0, 0)); }

header {
  padding: 30px;
  border-bottom: 0.1px solid #1a1a1a;
  box-shadow: -1px 4px 35px -11px #2b2b2b;
  background: rgba(2, 9, 23, 0.95); }

nav {
  padding-left: 1em;
  padding-right: 1em;
  max-width: 1164px;
  margin: auto;
  position: relative;
  height: auto; }
  nav ul {
    position: relative;
    padding: 0; }
    nav ul li {
      list-style-type: none;
      display: inline-block; }

.right {
  float: right;
  position: relative;
  top: -30px; }
  .right > a {
    transition: all 0.2s ease;
    border-bottom: 2px solid transparent; }
    .right > a:hover {
      border-bottom: 2px solid #42b6ff; }

.left {
  position: relative;
  top: -30px;
  float: left; }
  .left > a {
    transition: all 0.2s ease;
    border-bottom: 2px solid rgba(2, 9, 23, 0.95); }
    .left > a:hover {
      border-bottom: 2px solid #42b6ff; }

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 10px 23px 10px;
  transition: all 0.2s ease; }

.active {
  border-bottom: 2px solid #42b6ff !important; }

/*======= DROP DOWN ======*/
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  /* HAS TO BE NONE */
  position: absolute;
  background-color: rgba(2, 9, 23, 0.95);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  top: 59px;
  left: 0px; }

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 13px;
  text-decoration: none;
  display: block;
  transition: 0.3s all ease;
  border-left: 3px solid transparent;
  border-bottom: 1px solid rgba(128, 128, 128, 0.11); }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  border-left: 3px solid #42b6ff;
  color: white; }

/*======= END DROP DOWN ======*/
.upload {
  border: 1px solid #42b6ff;
  border-radius: 4px;
  transition: all 0.3s ease;
  top: -26px; }
  .upload a {
    padding: 7px; }
    .upload a:hover {
      color: white; }

.avatar {
  border-radius: 50%;
  width: 40px;
  position: relative;
  top: 4px; }
  .avatar:hover {
    cursor: pointer; }

.btn {
  padding: 14px 28px;
  text-transform: uppercase;
  background-color: #3eabf0;
  color: #eee;
  letter-spacing: .35px;
  border-radius: 3px;
  border: none;
  font-weight: 400; }
  .btn:hover {
    cursor: pointer; }

.btn--default {
  background-color: #3eabf0;
  color: #eee; }

/*======= SHINY ======*/
.shiny {
  background: #3eabf0;
  position: relative;
  border: none;
  border-radius: 3px;
  transition: .6s;
  overflow: hidden;
  font-size: 12px; }
  .shiny:focus {
    outline: 0; }
  .shiny:before {
    width: 60px;
    opacity: .5;
    filter: blur(30px); }
  .shiny:after, .shiny:before {
    top: 0;
    transform: translateX(-100px) skewX(-15deg); }
  .shiny:after {
    content: "";
    display: block;
    position: absolute;
    background: #fff;
    width: 30px;
    height: 100%;
    left: 30px;
    opacity: 0;
    filter: blur(5px); }
  .shiny:hover {
    background: #3eabf0;
    cursor: pointer;
    box-shadow: 0 0 30px 0 rgba(62, 171, 240, 0.5);
    transition: all 0.2s ease-out; }
    .shiny:hover:before {
      opacity: 0.6; }
    .shiny:hover:after, .shiny:hover:before {
      transform: translateX(300px) skewX(-15deg);
      transition: 0.7s; }
    .shiny:hover:after {
      opacity: 1; }
    .shiny:hover:before {
      animation: shine 0.5s 0s linear; }
  .shiny:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in; }

/*====== END SHINY ======*/
.btn-edit {
  font-size: 15px;
  padding: 10px 20px;
  margin-right: 8px; }

.btn-delete {
  background: #c40000;
  font-size: 15px;
  padding: 10px 20px; }
  .btn-delete:hover {
    background: rgba(196, 0, 0, 0.95);
    box-shadow: 0 0 30px 0 rgba(196, 0, 0, 0.95); }

.btn-download {
  background: rgba(0, 196, 51, 0.97);
  font-size: 15px;
  padding: 10px 20px;
  margin-right: 8px; }
  .btn-download a {
    color: white;
    text-decoration: none; }
  .btn-download:hover {
    background: rgba(0, 196, 51, 0.97);
    box-shadow: 0 0 30px 0 rgba(0, 196, 51, 0.97); }

h1.section-header {
  border-left: 4px solid;
  padding-left: .5em;
  border-color: #3eabf0;
  color: #fff; }

.pull-left {
  float: left; }

/*======= TILE ======*/
.tile-group {
  max-width: 1164px;
  padding: 1em;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px; }

.tile-group-header {
  display: inline-block;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1.5em; }

.tile-group-inner {
  margin-left: -0.5em;
  margin-right: -0.5em; }

.tile {
  margin: -2px;
  border: .5em solid;
  border-color: #171c25;
  width: 33.33%;
  width: 33.33333%;
  background-position: 50%;
  height: 425px;
  background-clip: padding-box; }

.tile--content {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 2em;
  padding-left: 0; }

.tile--content-wrap {
  min-height: 375px; }

.tile--date {
  margin: 0 0 5px; }

.tile--btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 11px;
  text-decoration: none;
  opacity: 0;
  position: absolute;
  padding: 14px 20px;
  bottom: 0;
  transform: translateY(30px);
  transition: transform 0.25s, opacity 0.25s; }

.tile {
  position: relative;
  overflow: hidden;
  transform: scale(1);
  transition: transform .35s;
  display: inline-block;
  background-size: cover;
  -webkit-background-size: cover; }
  .tile:before {
    border-style: solid;
    border-width: 300px 350px 0 0;
    border-color: #fff transparent transparent;
    content: "";
    height: 0;
    left: 0;
    opacity: .08;
    position: absolute;
    top: 0;
    transition: border .35s;
    width: 0;
    z-index: 2; }
  .tile:hover {
    transform: scale(1.035); }
  .tile h2 {
    font-size: 28px;
    margin-bottom: 0.5em; }

.tile--content-wrap {
  bottom: 30px;
  padding: 0 2em;
  overflow: hidden;
  z-index: 3; }

.tile-bg, .tile--content-wrap {
  position: absolute;
  left: 0;
  width: 100%; }

.tile-bg {
  background: linear-gradient(180deg, rgba(2, 9, 23, 0.25) 0, #020917 90%);
  bottom: 0;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 1; }

.tile--content {
  margin-bottom: 20px;
  transform: translateY(50px);
  transition: transform 0.5s; }

.tile:hover .tile--btn, .tile:hover .tile--content {
  opacity: 1;
  transform: translateY(0); }
.tile:hover .tile--btn {
  transition: transform .25s, opacity .25s;
  transition-delay: 0.3s; }
.tile:hover:before {
  border-width: 400px 500px 0 0; }

/*====== END TILE ======*/
.wp-content {
  color: #fff;
  font-size: 16px;
  line-height: 1.4; }
  .wp-content h1 {
    border-left: 3px solid #42b6ff;
    padding-left: 15px;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 200; }
  .wp-content p span {
    border-bottom: 1px solid #42b6ff;
    padding-bottom: 3px;
    cursor: pointer; }

.detailed {
  padding-top: 30px;
  max-width: 1164px;
  margin: 0 auto; }

.properties {
  padding-bottom: 20px; }
  .properties h2 {
    padding-bottom: 20px; }

.pagination {
  text-align: center;
  margin: 40px 0 -40px 0;
  font-size: 1.4em; }
  .pagination span {
    border: 1px solid white;
    padding: 3px 8px;
    cursor: pointer; }
    .pagination span:hover {
      color: #42b6ff; }

textarea::placeholder {
  font-family: Lato, Helvetica Neue, Arial, sans-serif; }

/*====== COMMENTS ======*/
.comments-section {
  padding-top: 10px;
  padding-bottom: 30px; }
  .comments-section .submit {
    max-width: 483px;
    margin-bottom: 70px; }
    .comments-section .submit button {
      float: right; }

.text-area {
  padding: 5px;
  margin: 15px 0 10px -2px;
  resize: none;
  color: #ffffff;
  max-width: 500px;
  text-shadow: 1px 1px 1px black;
  background: rgba(40, 50, 68, 0.97);
  border-radius: 2px;
  border: 1px solid transparent;
  font-family: Lato, Helvetica Neue, Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  display: block; }
  .text-area:focus {
    color: white;
    background: rgba(33, 44, 61, 0.95);
    outline: 0;
    border: 1px solid rgba(33, 44, 61, 0.95); }

.comment {
  border-left: 2px solid #42b6ff;
  padding-left: 10px; }

.uploaded-by {
  margin-bottom: -12px; }

/*====== END COMMENTS ======*/
/*====== HAMBURGER ======*/
#nav-icon4 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 35px 0 35px 0;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none; }
  #nav-icon4 span {
    margin-top: 35px;
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }
    #nav-icon4 span:nth-child(1) {
      top: 0px;
      transform-origin: left center; }
    #nav-icon4 span:nth-child(2) {
      top: 18px;
      transform-origin: left center; }
    #nav-icon4 span:nth-child(3) {
      top: 36px;
      transform-origin: left center; }
  #nav-icon4.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px; }
  #nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0; }
  #nav-icon4.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 39px;
    left: 8px; }

.mobile-menu {
  display: none;
  text-align: center; }
  .mobile-menu li {
    display: block; }

/*====== END HAMBURGER ======*/
/*====== FORMS ======*/
.login-page {
  max-width: 600px;
  padding: 150px 0 0;
  margin: auto;
  min-height: 75%; }

.form {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  background: #1f1f1f;
  max-width: 360px;
  margin: 0 auto 100px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }
  .form input {
    outline: 0;
    background: rgba(91, 98, 115, 0.97);
    color: white;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-left: 3px solid transparent;
    transition: all 0.2s ease; }
    .form input:focus {
      border-left: 3px solid white; }
    .form input::placeholder {
      color: #cacaca; }
  .form button {
    margin-top: 10px;
    text-transform: uppercase;
    outline: 0;
    background: #42b6ff;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer; }

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px; }
  .form .message a {
    color: #42b6ff;
    text-decoration: none; }
.form .register-form {
  display: none; }

.login-form {
  padding: 30px 20px 20px 20px; }
  .login-form label {
    position: absolute;
    font-size: 19px;
    text-align: center; }
  .login-form textarea {
    resize: none;
    max-width: 600px;
    height: 130px;
    outline: 0;
    background: rgba(91, 98, 115, 0.97);
    color: white;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-left: 3px solid transparent;
    transition: all 0.2s ease; }
    .login-form textarea:focus {
      border-left: 3px solid white; }
    .login-form textarea::placeholder {
      color: #cacaca; }
  .login-form #title, .login-form #description, .login-form #image {
    margin-top: 30px; }

.header {
  text-align: center;
  text-transform: uppercase;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 1.7em;
  background: rgba(3, 11, 25, 0.95);
  padding: 2em;
  color: white; }

.upload-form {
  max-width: 600px;
  margin-bottom: 120px;
  margin-top: -30px; }

#select {
  outline: 0;
  background: rgba(91, 98, 115, 0.97);
  color: white;
  width: 100%;
  border: 0;
  margin: 30px 0 10px 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-left: 3px solid transparent;
  transition: all 0.2s ease; }
  #select:focus {
    border-left: 3px solid white; }
  #select option {
    padding: 10px; }
  #select::placeholder {
    color: #cacaca; }

.profile-form {
  margin: -20px auto 120px auto; }
  .profile-form input {
    margin: 30px 0 15px 0; }
  .profile-form img {
    border-radius: 50%;
    max-width: 220px;
    position: relative;
    margin: 15px auto 30px auto;
    display: block; }

/*====== END FORMS ======*/
.heading {
  text-align: center;
  padding-top: 65px;
  margin-bottom: -55px; }
  .heading hr {
    max-width: 600px;
    margin-top: 30px;
    margin-bottom: -20px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(101, 101, 101, 0.75), rgba(0, 0, 0, 0)); }

/*====== FOOTER ======*/
.footer {
  background: rgba(2, 9, 23, 0.95);
  padding: 10px;
  text-align: center; }
  .footer p {
    color: white; }
    .footer p span {
      border-left: 3px solid #42b6ff;
      padding-left: 10px; }

/*# sourceMappingURL=style.css.map */
