<h1>Create a car</h1><br>

<form action="/addCar" method="post">
    Mark<br>
    <input type="text" name="mark" placeholder="Brand"><br>
    Model<br>
    <input type="text" name="model" placeholder="Model"><br>
    Image<br>
    <input type="text" name="image" placeholder="Image"><br>
    Year<br>
    <input type="number" name="year" placeholder="Year"><br>
    Rent<br>
    <input type="number" name="pricePerDay" placeholder="Rent"><br>
    <br>
    <input type="submit" value="Submit">
</form>