<div class="container" style="padding-top: 100px;">
  <form (ngSubmit)="submit(register)" [formGroup]='register'>
    <div class="form-row">

      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input formControlName="mail" type="email" class="form-control" id="inputEmail4" placeholder="Email">
        <div *ngIf="register.get('mail').errors">Error</div>
      </div>

      <div class="form-group col-md-6">
        <label for="name">Name</label>
        <input formControlName="name" type="text" class="form-control" id="name" placeholder="Name">
        <div *ngIf="register.get('name').errors">Error</div>
      </div>

      <div formGroupName="auth"  class="form-group col-md-12">
        <div>
          <label for="inputPassword4">Password</label>
          <input formControlName="password" type="password" class="form-control" id="inputPassword4" placeholder="Password">
          <div *ngIf="register.get('auth').get('password').errors">Error</div>
        </div>

        <div>
          <label for="confirmPass">Confirm Password</label>
          <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPass" placeholder="Confirm Password">
          <div *ngIf="register.get('auth').get('confirmPassword').errors">Error</div>
        </div>
      </div>

    </div>

    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input formControlName="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input formControlName="city" type="text" class="form-control" id="inputCity">
      </div>

      <div class="form-group col-md-6">
        <label for="inputCountry">Country</label>
        <input formControlName="country" type="text" class="form-control" id="inputCountry">
      </div>


      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input formControlName="zip" type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox"> Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
</div>
