<main>
    <h2>Add new flight</h2>
    <form action="" method="post">
        <label>Destination:</label>
        <input type="text" placeholder="Destination" name="destination">
        <label>Origin:</label>
        <input type="text" placeholder="Origin" name="origin">
        <label>Date:</label>
        <input type="text" name="date">
        <label>Time:</label>
        <input type="time" name="time">
        <label>Image:</label>
        <input type="text" name="imageUrl">
        <input type="submit" class="create" value="Create">
    </form>
</main>