* {
  font-family: sans-serif;
}

.article {
  width: 300px;
  height: auto;
  background: darkgreen;
  color: white;
  padding: 10px;
  > * {
    cursor: pointer;
  }
}


.header {
  padding: 10px;
  width: 300px;
  height: auto;
  background: #343434;
  color: white;
  > * {
    cursor: pointer;
  }
}
